<div >
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header flex-column">
        <div class="icon-box">
          <i class="material-icons">&#xE5CD;</i>
        </div>
        <h4 class="modal-title w-100">Are you sure?</h4>
      </div>
      <div class="modal-body">
        <p>Do you really want to delete customer <span class="text-danger font-weight-bold">{{customerOfFullName}}</span>? This process cannot be undone.</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button mat-dialog-close class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button (click)="deleteCustomer()" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
